{% extends 'base.html' %}

{% block title %}
Sobre o site |
{% endblock title %}

{% block body %}
    <section class="card">
        <table>
            <caption class="title">
                <span class="material-icons-outlined">inventory</span>
                Tabela de Inventário
            </caption>
            <tbody>
                <tr>
                    <td>Nº páginas</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Nº imagens</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Nº links externos</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Nº vídeos</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Nº animações</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="card">
        <table>
            <caption class="title">
                Tabela de técnicas utilizadas
            </caption>
            <thead>
                <tr>
                    <th>Características</th>
                    <th>Elementos/técnicas</th>
                    <th>Exemplos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Layouts</td>
                    <td>Usou-se bootstrap e CSS</td>
                    <td>Faz quase toda a parte estilista do nosso site com bootstrap e o resto com css</td>
                </tr>
                <tr>
                    <td>Responsividade</td>
                    <td>Usou-se bootstrap<br></td>
                    <td>Todas as nossas páginas são responsivas em todos os dispositivos e todos <br>os tamanhos de
                        janela</td>
                </tr>

                <tr>
                    <td>Etiquetas</td>
                    <td>Usamos o main, header, footer, nav e aside</td>
                    <td>Usamos estas etiquetas, como por exemplo o footer serve como rodapé, <br>o aside que está do
                        lado esquerdo com algumas curiosidades</td>
                </tr>
                <tr>
                    <td>Imagens</td>
                    <td>Usamos diversas imagagens</td>
                    <td>Utilizamos imagens para descrever os exemplos dos gelados, para a página "Sobre Nós" e para a página "Contact Us</td>
                </tr>
                <tr>
                    <td>Menu</td>
                    <td>Decidimos utilizar o nav para fazermos o nosso menu para viajar pelas nossas páginas</td>
                    <td>O menu do nosso web site é um exemplo da utilização do nav</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}